:root {
    --textColor1: rgba(17, 224, 231, 0.9);
    --textColor2: rgba(158, 208, 133, 0.9);
    --altTextcolor: rgba(122, 49, 128, 0.9);
    --linkTextcolor: rgba(192, 225, 231, 0.9);
    --buttonColor: rgba(162, 127, 135, 0.9);
    --buttonColorAlt: rgba(231, 224, 17, 0.9);
    --backgroupColor1: rgba(234, 159, 106, 0.89);
    --backgroupColor2: rgba(249, 136, 55, 0.89);
    --backgroundColor3: rgba(176, 180, 228, 0.9);
    --glowColor: rgba(0, 0, 0, 0.9);
    --shadowBoxcolor: rgba(244, 236, 32, 0.9);
    --dividerColor: rgba(0, 0, 0, 0.9);
}


